* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: blueviolet;
  font-family: italic;
  font-size: 3rem;
  height: 20vh;
 
}

html {

  background-color: bisque;
  height: 120vh;
 
}